In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [186]:
data = pd.read_csv('/content/drive/My Drive/Software_Engineering_Project/covid19-in-india/covid_19_india.csv')
data

       Sno      Date     Time  ... Cured Deaths Confirmed
0        1  30/01/20  6:00 PM  ...     0      0         1
1        2  31/01/20  6:00 PM  ...     0      0         1
2        3  01/02/20  6:00 PM  ...     0      0         2
3        4  02/02/20  6:00 PM  ...     0      0         3
4        5  03/02/20  6:00 PM  ...     0      0         3
...    ...       ...      ...  ...   ...    ...       ...
1185  1186  21/04/20  5:00 PM  ...   190     23       919
1186  1187  21/04/20  5:00 PM  ...     1      0         2
1187  1188  21/04/20  5:00 PM  ...    18      0        46
1188  1189  21/04/20  5:00 PM  ...   140     20      1294
1189  1190  21/04/20  5:00 PM  ...    73     12       392

[1190 rows x 9 columns]

In [187]:
data.loc[981]

Sno                               982
Date                         15/04/20
Time                          5:00 PM
State/UnionTerritory        Nagaland#
ConfirmedIndianNational             -
ConfirmedForeignNational            -
Cured                               0
Deaths                              0
Confirmed                           0
Name: 981, dtype: object

In [0]:
import re
state_uts = []
for index,row in data.iterrows():
  state_ut = row['State/UnionTerritory']
  state_ut = re.sub('[^A-Za-z0-9]+', '', state_ut)
  state_uts.append(state_ut)

In [189]:
data['State/UnionTerritory'] = state_uts
data

       Sno      Date     Time  ... Cured Deaths Confirmed
0        1  30/01/20  6:00 PM  ...     0      0         1
1        2  31/01/20  6:00 PM  ...     0      0         1
2        3  01/02/20  6:00 PM  ...     0      0         2
3        4  02/02/20  6:00 PM  ...     0      0         3
4        5  03/02/20  6:00 PM  ...     0      0         3
...    ...       ...      ...  ...   ...    ...       ...
1185  1186  21/04/20  5:00 PM  ...   190     23       919
1186  1187  21/04/20  5:00 PM  ...     1      0         2
1187  1188  21/04/20  5:00 PM  ...    18      0        46
1188  1189  21/04/20  5:00 PM  ...   140     20      1294
1189  1190  21/04/20  5:00 PM  ...    73     12       392

[1190 rows x 9 columns]

In [190]:
data.loc[981]

Sno                              982
Date                        15/04/20
Time                         5:00 PM
State/UnionTerritory        Nagaland
ConfirmedIndianNational            -
ConfirmedForeignNational           -
Cured                              0
Deaths                             0
Confirmed                          0
Name: 981, dtype: object

In [194]:
kerala = data[data['State/UnionTerritory']=='Kerala']
len(kerala)

83

In [195]:
bengal = data[data['State/UnionTerritory']=='WestBengal']
len(bengal)

35

In [196]:
unique_dates = data['Date'].unique().tolist()
unique_states = set(data['State/UnionTerritory'].tolist())
print(len(unique_dates))
print(len(unique_states))
unique_states

83
34

{'AndamanandNicobarIslands',
 'AndhraPradesh',
 'ArunachalPradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'HimachalPradesh',
 'JammuandKashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'MadhyaPradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'TamilNadu',
 'Telengana',
 'Tripura',
 'Unassigned',
 'UttarPradesh',
 'Uttarakhand',
 'WestBengal'}

In [197]:
df1 = pd.DataFrame(columns = ['Date', 'Confirmed'])
df1['Date'] = unique_dates
df1['Confirmed'] = 0
df1

        Date  Confirmed
0   30/01/20          0
1   31/01/20          0
2   01/02/20          0
3   02/02/20          0
4   03/02/20          0
..       ...        ...
78  17/04/20          0
79  18/04/20          0
80  19/04/20          0
81  20/04/20          0
82  21/04/20          0

[83 rows x 2 columns]

In [0]:
final = {}
for state in unique_states:
  dates = []
  confirmeds = []
  df2 = pd.DataFrame()
  for index, row in df1.iterrows():
    datevalue = row['Date']
    dates.append(datevalue)
    a = data[(data['State/UnionTerritory']==state) & (data['Date']==datevalue)]
    if(a.empty):
      confirmeds.append(0)
    else:
      conf = (a['Confirmed'].values[0])
      confirmeds.append(conf)
  df2 = pd.DataFrame()
  df2['Date'] = dates
  df2['Confirmed'] = confirmeds
  final[state] = df2

In [200]:
final

{'AndamanandNicobarIslands':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         11
 79  18/04/20         12
 80  19/04/20         14
 81  20/04/20         15
 82  21/04/20         16

 [83 rows x 2 columns], 'AndhraPradesh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        572
 79  18/04/20        603
 80  19/04/20        603
 81  20/04/20        722
 82  21/04/20        757

 [83 rows x 2 columns], 'ArunachalPradesh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          1
 79  18/04/20          1
 80  19/04/20          1
 81  20/04/20          1
 82  21/04/20          1

 [83 rows x 2 columns], 'Assam':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         35
 79  18/04/20         35
 80  19/04/20         35
 81  20/04/20         35
 82  21/04/20         35

 [83 rows x 2 columns], 'Bihar':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         83
 79  18/04/20         85
 80  19/04/20         86
 81  20/04/20         96
 82  21/04/20        114

 [83 rows x 2 columns], 'Chandigarh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         21
 79  18/04/20         21
 80  19/04/20         23
 81  20/04/20         26
 82  21/04/20         26

 [83 rows x 2 columns], 'Chhattisgarh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         36
 79  18/04/20         36
 80  19/04/20         36
 81  20/04/20         36
 82  21/04/20         36

 [83 rows x 2 columns], 'Delhi':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       1640
 79  18/04/20       1707
 80  19/04/20       1893
 81  20/04/20       2003
 82  21/04/20       2081

 [83 rows x 2 columns], 'Goa':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          7
 79  18/04/20          7
 80  19/04/20          7
 81  20/04/20          7
 82  21/04/20          7

 [83 rows x 2 columns], 'Gujarat':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       1021
 79  18/04/20       1272
 80  19/04/20       1604
 81  20/04/20       1851
 82  21/04/20       2066

 [83 rows x 2 columns], 'Haryana':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        205
 79  18/04/20        225
 80  19/04/20        233
 81  20/04/20        233
 82  21/04/20        254

 [83 rows x 2 columns], 'HimachalPradesh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         35
 79  18/04/20         38
 80  19/04/20         39
 81  20/04/20         39
 82  21/04/20         39

 [83 rows x 2 columns], 'JammuandKashmir':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        314
 79  18/04/20        328
 80  19/04/20        341
 81  20/04/20        350
 82  21/04/20        368

 [83 rows x 2 columns], 'Jharkhand':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         29
 79  18/04/20         33
 80  19/04/20         35
 81  20/04/20         42
 82  21/04/20         46

 [83 rows x 2 columns], 'Karnataka':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        353
 79  18/04/20        371
 80  19/04/20        384
 81  20/04/20        395
 82  21/04/20        415

 [83 rows x 2 columns], 'Kerala':         Date  Confirmed
 0   30/01/20          1
 1   31/01/20          1
 2   01/02/20          2
 3   02/02/20          3
 4   03/02/20          3
 ..       ...        ...
 78  17/04/20        395
 79  18/04/20        396
 80  19/04/20        400
 81  20/04/20        402
 82  21/04/20        408

 [83 rows x 2 columns], 'Ladakh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         18
 79  18/04/20         18
 80  19/04/20         18
 81  20/04/20         18
 82  21/04/20         18

 [83 rows x 2 columns], 'MadhyaPradesh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       1308
 79  18/04/20       1355
 80  19/04/20       1407
 81  20/04/20       1485
 82  21/04/20       1540

 [83 rows x 2 columns], 'Maharashtra':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       3205
 79  18/04/20       3323
 80  19/04/20       3651
 81  20/04/20       4203
 82  21/04/20       4669

 [83 rows x 2 columns], 'Manipur':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          2
 79  18/04/20          2
 80  19/04/20          2
 81  20/04/20          2
 82  21/04/20          2

 [83 rows x 2 columns], 'Meghalaya':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          9
 79  18/04/20         11
 80  19/04/20         11
 81  20/04/20         11
 82  21/04/20         11

 [83 rows x 2 columns], 'Mizoram':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          1
 79  18/04/20          1
 80  19/04/20          1
 81  20/04/20          1
 82  21/04/20          1

 [83 rows x 2 columns], 'Nagaland':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          0
 79  18/04/20          0
 80  19/04/20          0
 81  20/04/20          0
 82  21/04/20          0

 [83 rows x 2 columns], 'Odisha':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         60
 79  18/04/20         60
 80  19/04/20         61
 81  20/04/20         68
 82  21/04/20         74

 [83 rows x 2 columns], 'Puducherry':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          7
 79  18/04/20          7
 80  19/04/20          7
 81  20/04/20          7
 82  21/04/20          7

 [83 rows x 2 columns], 'Punjab':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        186
 79  18/04/20        202
 80  19/04/20        219
 81  20/04/20        219
 82  21/04/20        245

 [83 rows x 2 columns], 'Rajasthan':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       1131
 79  18/04/20       1229
 80  19/04/20       1351
 81  20/04/20       1478
 82  21/04/20       1576

 [83 rows x 2 columns], 'TamilNadu':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       1267
 79  18/04/20       1323
 80  19/04/20       1372
 81  20/04/20       1477
 82  21/04/20       1520

 [83 rows x 2 columns], 'Telengana':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        743
 79  18/04/20        791
 80  19/04/20        844
 81  20/04/20        873
 82  21/04/20        919

 [83 rows x 2 columns], 'Tripura':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          2
 79  18/04/20          2
 80  19/04/20          2
 81  20/04/20          2
 82  21/04/20          2

 [83 rows x 2 columns], 'Unassigned':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          0
 79  18/04/20          0
 80  19/04/20          0
 81  20/04/20          0
 82  21/04/20          0

 [83 rows x 2 columns], 'UttarPradesh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        846
 79  18/04/20        969
 80  19/04/20       1084
 81  20/04/20       1176
 82  21/04/20       1294

 [83 rows x 2 columns], 'Uttarakhand':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         37
 79  18/04/20         42
 80  19/04/20         42
 81  20/04/20         44
 82  21/04/20         46

 [83 rows x 2 columns], 'WestBengal':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        255
 79  18/04/20        287
 80  19/04/20        310
 81  20/04/20        339
 82  21/04/20        392

 [83 rows x 2 columns]}