In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical

In [90]:
data = pd.read_csv('/content/drive/My Drive/Software_Engineering_Project/covid19-in-india/covid_19_india.csv')
data

       Sno      Date     Time  ... Cured Deaths Confirmed
0        1  30/01/20  6:00 PM  ...     0      0         1
1        2  31/01/20  6:00 PM  ...     0      0         1
2        3  01/02/20  6:00 PM  ...     0      0         2
3        4  02/02/20  6:00 PM  ...     0      0         3
4        5  03/02/20  6:00 PM  ...     0      0         3
...    ...       ...      ...  ...   ...    ...       ...
1185  1186  21/04/20  5:00 PM  ...   190     23       919
1186  1187  21/04/20  5:00 PM  ...     1      0         2
1187  1188  21/04/20  5:00 PM  ...    18      0        46
1188  1189  21/04/20  5:00 PM  ...   140     20      1294
1189  1190  21/04/20  5:00 PM  ...    73     12       392

[1190 rows x 9 columns]

In [4]:
data.loc[981]

Sno                               982
Date                         15/04/20
Time                          5:00 PM
State/UnionTerritory        Nagaland#
ConfirmedIndianNational             -
ConfirmedForeignNational            -
Cured                               0
Deaths                              0
Confirmed                           0
Name: 981, dtype: object

# Removing special characters from names

In [0]:
import re
state_uts = []
for index,row in data.iterrows():
  state_ut = row['State/UnionTerritory']
  state_ut = re.sub('[^A-Za-z0-9]+', '', state_ut)
  state_uts.append(state_ut)

# Printing refined data

In [92]:
data['State/UnionTerritory'] = state_uts
data

       Sno      Date     Time  ... Cured Deaths Confirmed
0        1  30/01/20  6:00 PM  ...     0      0         1
1        2  31/01/20  6:00 PM  ...     0      0         1
2        3  01/02/20  6:00 PM  ...     0      0         2
3        4  02/02/20  6:00 PM  ...     0      0         3
4        5  03/02/20  6:00 PM  ...     0      0         3
...    ...       ...      ...  ...   ...    ...       ...
1185  1186  21/04/20  5:00 PM  ...   190     23       919
1186  1187  21/04/20  5:00 PM  ...     1      0         2
1187  1188  21/04/20  5:00 PM  ...    18      0        46
1188  1189  21/04/20  5:00 PM  ...   140     20      1294
1189  1190  21/04/20  5:00 PM  ...    73     12       392

[1190 rows x 9 columns]

In [7]:
data.loc[981]

Sno                              982
Date                        15/04/20
Time                         5:00 PM
State/UnionTerritory        Nagaland
ConfirmedIndianNational            -
ConfirmedForeignNational           -
Cured                              0
Deaths                             0
Confirmed                          0
Name: 981, dtype: object

In [93]:
kerala = data[data['State/UnionTerritory']=='Kerala']
len(kerala)

83

In [0]:
bengal = data[data['State/UnionTerritory']=='WestBengal']
len(bengal)

35

# Storing the unique states and total time frame

In [94]:
unique_dates = data['Date'].unique().tolist()
unique_states = set(data['State/UnionTerritory'].tolist())
print(len(unique_dates))
print(len(unique_states))
# unique_states

83
34

In [95]:
df1 = pd.DataFrame(columns = ['Date', 'Confirmed'])
df1['Date'] = unique_dates
df1['Confirmed'] = 0
df1

        Date  Confirmed
0   30/01/20          0
1   31/01/20          0
2   01/02/20          0
3   02/02/20          0
4   03/02/20          0
..       ...        ...
78  17/04/20          0
79  18/04/20          0
80  19/04/20          0
81  20/04/20          0
82  21/04/20          0

[83 rows x 2 columns]

# Creating a dictionary using the number of cases in the different states

In [0]:
final = {}
for state in unique_states:
  dates = []
  confirmeds = []
  df2 = pd.DataFrame()
  for index, row in df1.iterrows():
    datevalue = row['Date']
    dates.append(datevalue)
    a = data[(data['State/UnionTerritory']==state) & (data['Date']==datevalue)]
    if(a.empty):
      confirmeds.append(0)
    else:
      conf = (a['Confirmed'].values[0])
      confirmeds.append(conf)
  df2 = pd.DataFrame()
  df2['Date'] = dates
  df2['Confirmed'] = confirmeds
  final[state] = df2

In [97]:
final

{'AndamanandNicobarIslands':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         11
 79  18/04/20         12
 80  19/04/20         14
 81  20/04/20         15
 82  21/04/20         16

 [83 rows x 2 columns], 'AndhraPradesh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        572
 79  18/04/20        603
 80  19/04/20        603
 81  20/04/20        722
 82  21/04/20        757

 [83 rows x 2 columns], 'ArunachalPradesh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          1
 79  18/04/20          1
 80  19/04/20          1
 81  20/04/20          1
 82  21/04/20          1

 [83 rows x 2 columns], 'Assam':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         35
 79  18/04/20         35
 80  19/04/20         35
 81  20/04/20         35
 82  21/04/20         35

 [83 rows x 2 columns], 'Bihar':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         83
 79  18/04/20         85
 80  19/04/20         86
 81  20/04/20         96
 82  21/04/20        114

 [83 rows x 2 columns], 'Chandigarh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         21
 79  18/04/20         21
 80  19/04/20         23
 81  20/04/20         26
 82  21/04/20         26

 [83 rows x 2 columns], 'Chhattisgarh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         36
 79  18/04/20         36
 80  19/04/20         36
 81  20/04/20         36
 82  21/04/20         36

 [83 rows x 2 columns], 'Delhi':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       1640
 79  18/04/20       1707
 80  19/04/20       1893
 81  20/04/20       2003
 82  21/04/20       2081

 [83 rows x 2 columns], 'Goa':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          7
 79  18/04/20          7
 80  19/04/20          7
 81  20/04/20          7
 82  21/04/20          7

 [83 rows x 2 columns], 'Gujarat':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       1021
 79  18/04/20       1272
 80  19/04/20       1604
 81  20/04/20       1851
 82  21/04/20       2066

 [83 rows x 2 columns], 'Haryana':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        205
 79  18/04/20        225
 80  19/04/20        233
 81  20/04/20        233
 82  21/04/20        254

 [83 rows x 2 columns], 'HimachalPradesh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         35
 79  18/04/20         38
 80  19/04/20         39
 81  20/04/20         39
 82  21/04/20         39

 [83 rows x 2 columns], 'JammuandKashmir':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        314
 79  18/04/20        328
 80  19/04/20        341
 81  20/04/20        350
 82  21/04/20        368

 [83 rows x 2 columns], 'Jharkhand':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         29
 79  18/04/20         33
 80  19/04/20         35
 81  20/04/20         42
 82  21/04/20         46

 [83 rows x 2 columns], 'Karnataka':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        353
 79  18/04/20        371
 80  19/04/20        384
 81  20/04/20        395
 82  21/04/20        415

 [83 rows x 2 columns], 'Kerala':         Date  Confirmed
 0   30/01/20          1
 1   31/01/20          1
 2   01/02/20          2
 3   02/02/20          3
 4   03/02/20          3
 ..       ...        ...
 78  17/04/20        395
 79  18/04/20        396
 80  19/04/20        400
 81  20/04/20        402
 82  21/04/20        408

 [83 rows x 2 columns], 'Ladakh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         18
 79  18/04/20         18
 80  19/04/20         18
 81  20/04/20         18
 82  21/04/20         18

 [83 rows x 2 columns], 'MadhyaPradesh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       1308
 79  18/04/20       1355
 80  19/04/20       1407
 81  20/04/20       1485
 82  21/04/20       1540

 [83 rows x 2 columns], 'Maharashtra':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       3205
 79  18/04/20       3323
 80  19/04/20       3651
 81  20/04/20       4203
 82  21/04/20       4669

 [83 rows x 2 columns], 'Manipur':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          2
 79  18/04/20          2
 80  19/04/20          2
 81  20/04/20          2
 82  21/04/20          2

 [83 rows x 2 columns], 'Meghalaya':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          9
 79  18/04/20         11
 80  19/04/20         11
 81  20/04/20         11
 82  21/04/20         11

 [83 rows x 2 columns], 'Mizoram':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          1
 79  18/04/20          1
 80  19/04/20          1
 81  20/04/20          1
 82  21/04/20          1

 [83 rows x 2 columns], 'Nagaland':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          0
 79  18/04/20          0
 80  19/04/20          0
 81  20/04/20          0
 82  21/04/20          0

 [83 rows x 2 columns], 'Odisha':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         60
 79  18/04/20         60
 80  19/04/20         61
 81  20/04/20         68
 82  21/04/20         74

 [83 rows x 2 columns], 'Puducherry':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          7
 79  18/04/20          7
 80  19/04/20          7
 81  20/04/20          7
 82  21/04/20          7

 [83 rows x 2 columns], 'Punjab':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        186
 79  18/04/20        202
 80  19/04/20        219
 81  20/04/20        219
 82  21/04/20        245

 [83 rows x 2 columns], 'Rajasthan':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       1131
 79  18/04/20       1229
 80  19/04/20       1351
 81  20/04/20       1478
 82  21/04/20       1576

 [83 rows x 2 columns], 'TamilNadu':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20       1267
 79  18/04/20       1323
 80  19/04/20       1372
 81  20/04/20       1477
 82  21/04/20       1520

 [83 rows x 2 columns], 'Telengana':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        743
 79  18/04/20        791
 80  19/04/20        844
 81  20/04/20        873
 82  21/04/20        919

 [83 rows x 2 columns], 'Tripura':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          2
 79  18/04/20          2
 80  19/04/20          2
 81  20/04/20          2
 82  21/04/20          2

 [83 rows x 2 columns], 'Unassigned':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20          0
 79  18/04/20          0
 80  19/04/20          0
 81  20/04/20          0
 82  21/04/20          0

 [83 rows x 2 columns], 'UttarPradesh':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        846
 79  18/04/20        969
 80  19/04/20       1084
 81  20/04/20       1176
 82  21/04/20       1294

 [83 rows x 2 columns], 'Uttarakhand':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20         37
 79  18/04/20         42
 80  19/04/20         42
 81  20/04/20         44
 82  21/04/20         46

 [83 rows x 2 columns], 'WestBengal':         Date  Confirmed
 0   30/01/20          0
 1   31/01/20          0
 2   01/02/20          0
 3   02/02/20          0
 4   03/02/20          0
 ..       ...        ...
 78  17/04/20        255
 79  18/04/20        287
 80  19/04/20        310
 81  20/04/20        339
 82  21/04/20        392

 [83 rows x 2 columns]}

# Dictionary with added data for each state

In [0]:
state_dict = {}
for key, values in final.items():
  new_list = []
  confirmed_list = values['Confirmed'].tolist()
  differences = [t - s for s, t in zip(confirmed_list, confirmed_list[1:])]
  differences = [(x/5) for x in differences]
  count = 0
  for i in range(len(confirmed_list)-1):
    temp = confirmed_list[i]
    new_list.append(temp)
    for j in range(5):
      temp = temp + differences[i]
      new_list.append(round(temp))
  state_dict [key] = new_list

# print(differences)
# len(differences)

In [99]:
print(state_dict)

{'Chandigarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 4, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10, 11, 12, 13, 13, 14, 14, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 23, 23, 23, 24, 24, 25, 25, 26, 26, 26, 26, 26, 26, 26], 'ArunachalPradesh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'WestBengal': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 6, 6, 7, 7, 7, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 12, 13, 14, 15, 15, 16, 16, 17, 17, 18, 18, 19, 20, 20, 21, 22, 22, 23, 24, 24, 25, 26, 26, 28, 30, 33, 35, 37, 37, 40, 43, 47, 50, 53, 53, 55, 57, 59, 61, 63, 63, 64, 65, 67, 68, 69, 69, 71, 73, 76, 78, 80, 80, 80, 80, 80, 80, 80, 80, 82, 84, 87, 89, 91, 91, 93, 94, 96, 97, 99, 99, 100, 101, 101, 102, 103, 103, 106, 108, 111, 113, 116, 116, 118, 120, 122, 124, 126, 126, 128, 129, 131, 132, 134, 134, 138, 141, 145, 148, 152, 152, 160, 167, 175, 182, 190, 190, 195, 199, 204, 208, 213, 213, 217, 220, 224, 227, 231, 231, 236, 241, 245, 250, 255, 255, 261, 268, 274, 281, 287, 287, 292, 296, 301, 305, 310, 310, 316, 322, 327, 333, 339, 339, 350, 360, 371, 381, 392], 'Ladakh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 10, 10, 10, 11, 11, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18], 'Assam': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 3, 3, 4, 5, 5, 7, 9, 12, 14, 16, 16, 18, 19, 21, 22, 24, 24, 24, 25, 25, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35], 'Uttarakhand': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 9, 9, 10, 10, 11, 12, 14, 15, 16, 16, 17, 18, 20, 21, 22, 22, 23, 24, 24, 25, 26, 26, 27, 28, 29, 30, 31, 31, 31, 31, 31, 31, 31, 31, 32, 33, 33, 34, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 38, 39, 40, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 43, 43, 44, 44, 44, 44, 45, 45, 46, 46], 'Mizoram': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'Gujarat': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 5, 5, 6, 6, 7, 7, 7, 9, 11, 14, 16, 18, 18, 20, 22, 25, 27, 29, 29, 30, 31, 31, 32, 33, 33, 34, 35, 36, 37, 38, 38, 39, 40, 41, 42, 43, 43, 43, 43, 43, 43, 43, 43, 43, 44, 44, 45, 45, 45, 48, 50, 53, 55, 58, 58, 60, 62, 65, 67, 69, 69, 70, 71, 71, 72, 73, 73, 75, 77, 78, 80, 82, 82, 83, 84, 85, 86, 87, 87, 89, 90, 92, 93, 95, 95, 97, 99, 101, 103, 105, 105, 108, 112, 115, 119, 122, 122, 126, 131, 135, 140, 144, 144, 148, 152, 157, 161, 165, 165, 165, 165, 165, 165, 165, 165, 168, 171, 173, 176, 179, 179, 191, 204, 216, 229, 241, 241, 254, 268, 281, 295, 308, 308, 333, 358, 382, 407, 432, 432, 453, 475, 496, 518, 539, 539, 555, 570, 586, 601, 617, 617, 633, 648, 664, 679, 695, 695, 730, 765, 801, 836, 871, 871, 901, 931, 961, 991, 1021, 1021, 1071, 1121, 1172, 1222, 1272, 1272, 1338, 1405, 1471, 1538, 1604, 1604, 1653, 1703, 1752, 1802, 1851, 1851, 1894, 1937, 1980, 2023, 2066], 'Haryana': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 7, 9, 12, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 19, 19, 20, 21, 21, 22, 23, 24, 25, 26, 26, 26, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 35, 35, 36, 36, 37, 38, 38, 39, 40, 40, 41, 41, 42, 42, 43, 43, 43, 43, 43, 43, 43, 43, 44, 45, 47, 48, 49, 49, 49, 49, 49, 49, 49, 49, 51, 53, 55, 57, 59, 59, 64, 69, 74, 79, 84, 84, 85, 86, 88, 89, 90, 90, 101, 113, 124, 136, 147, 147, 151, 156, 160, 165, 169, 169, 169, 169, 169, 169, 169, 169, 171, 172, 174, 175, 177, 177, 179, 180, 182, 183, 185, 185, 185, 185, 185, 185, 185, 185, 188, 191, 193, 196, 199, 199, 199, 199, 199, 199, 199, 199, 200, 201, 203, 204, 205, 205, 205, 205, 205, 205, 205, 205, 209, 213, 217, 221, 225, 225, 227, 228, 230, 231, 233, 233, 233, 233, 233, 233, 233, 233, 237, 241, 246, 250, 254], 'Maharashtra': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 4, 4, 3, 3, 2, 2, 4, 6, 7, 9, 11, 11, 12, 12, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 18, 21, 25, 28, 32, 32, 32, 32, 32, 32, 32, 32, 33, 35, 36, 38, 39, 39, 40, 40, 41, 41, 42, 42, 43, 44, 45, 46, 47, 47, 48, 49, 50, 51, 52, 52, 54, 56, 59, 61, 63, 63, 64, 65, 65, 66, 67, 67, 68, 70, 71, 73, 74, 74, 77, 80, 83, 86, 89, 89, 97, 105, 112, 120, 128, 128, 127, 126, 126, 125, 124, 124, 125, 126, 128, 129, 130, 130, 140, 150, 160, 170, 180, 180, 181, 182, 184, 185, 186, 186, 188, 191, 193, 196, 198, 198, 202, 205, 209, 212, 216, 216, 233, 250, 268, 285, 302, 302, 309, 315, 322, 328, 335, 335, 335, 335, 335, 335, 335, 335, 366, 397, 428, 459, 490, 490, 490, 490, 490, 490, 490, 490, 542, 593, 645, 696, 748, 748, 772, 796, 820, 844, 868, 868, 898, 928, 958, 988, 1018, 1018, 1041, 1065, 1088, 1112, 1135, 1135, 1181, 1227, 1272, 1318, 1364, 1364, 1406, 1448, 1490, 1532, 1574, 1574, 1611, 1649, 1686, 1724, 1761, 1761, 1806, 1851, 1895, 1940, 1985, 1985, 2055, 2126, 2196, 2267, 2337, 2337, 2407, 2477, 2547, 2617, 2687, 2687, 2733, 2780, 2826, 2873, 2919, 2919, 2976, 3033, 3091, 3148, 3205, 3205, 3229, 3252, 3276, 3299, 3323, 3323, 3389, 3454, 3520, 3585, 3651, 3651, 3761, 3872, 3982, 4093, 4203, 4203, 4296, 4389, 4483, 4576, 4669], 'Delhi': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 10, 10, 10, 10, 11, 11, 12, 12, 12, 13, 14, 15, 16, 17, 17, 19, 21, 22, 24, 26, 26, 27, 27, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 32, 33, 34, 35, 36, 36, 36, 36, 36, 36, 36, 36, 37, 37, 38, 38, 39, 39, 41, 43, 45, 47, 49, 49, 57, 64, 72, 79, 87, 87, 89, 91, 93, 95, 97, 97, 108, 119, 130, 141, 152, 152, 165, 179, 192, 206, 219, 219, 219, 219, 219, 219, 219, 219, 264, 309, 355, 400, 445, 445, 457, 468, 480, 491, 503, 503, 507, 511, 515, 519, 523, 523, 534, 544, 555, 565, 576, 576, 576, 576, 576, 576, 576, 576, 595, 613, 632, 650, 669, 669, 715, 761, 806, 852, 898, 898, 899, 900, 901, 902, 903, 903, 936, 969, 1003, 1036, 1069, 1069, 1086, 1103, 1120, 1137, 1154, 1154, 1225, 1296, 1368, 1439, 1510, 1510, 1520, 1530, 1541, 1551, 1561, 1561, 1564, 1568, 1571, 1575, 1578, 1578, 1590, 1603, 1615, 1628, 1640, 1640, 1653, 1667, 1680, 1694, 1707, 1707, 1744, 1781, 1819, 1856, 1893, 1893, 1915, 1937, 1959, 1981, 2003, 2003, 2019, 2034, 2050, 2065, 2081], 'Goa': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,

# Predicting the values for Kerala

In [0]:
for key, value in state_dict.items():
  if(key == "Kerala"):
    X_kerala = value

X_kerala = np.array(X_kerala)

In [101]:
print(X_kerala.shape)

(492,)

In [102]:
window_size = 5
Xt = np.array([0] * (window_size + 1))

row = 0
while(row < (X_kerala.shape[0] - window_size)):
  # row = random.randrange(len(X) - window_size - 1)
  temp = X_kerala[row:row+window_size+1].tolist()
  temp = [float(item) for item in temp]
  Xt = np.vstack((Xt,temp)) 
  row = row + 1

Xt = Xt[1:,:]
# print(X2)
print(Xt.shape)

(487, 6)

In [0]:
X_train = Xt[:,0:window_size]
y_train = Xt[:,window_size]
# print(X_train)
# print(X_train.shape)
# print(y_train)
# print(y_train.shape)

# Linear Regression

In [86]:
model_reg = LinearRegression()
model_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
X_test = final['Kerala']
X_test = X_test['Confirmed'].to_numpy()
# print(X_test)
# print(X_test.shape)
# X_test = X_test.reshape((1,-1))
# print(X_test.shape)
# X1 = X
# X1 = np.array(X['data'])
row = window_size
predictions = []
while(row < X_test.shape[0]):
  temp1 = np.array(X_test[row-window_size:row].tolist())
  # print(temp1)
  temp1 = temp1.astype('float32')
  test = temp1.reshape((1,-1))
  pred1 = model_reg.predict(test)
  predictions.append(pred1[0])
  # X1[i] = pred1[0]
  row = row + 1

In [89]:
predictions

[3.4815907690224073,
 3.251654455164602,
 3.092020673331279,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 3.114491605349225,
 10.302616462928029,
 10.592787130681018,
 18.749888098990347,
 19.289837708243663,
 18.474116332937797,
 20.18354572486658,
 19.495180167766613,
 23.757333746336712,
 24.14227670789227,
 28.12710782570328,
 28.28211447340104,
 27.79443689483145,
 28.66038705680481,
 45.56770393644395,
 60.03995259761383,
 78.09435292738989,
 112.16872438426716,
 123.2366505023184,
 129.16119887168776,
 148.97914517605636,
 198.3354284133984,
 195.777884896609,
 218.03025558714137,
 252.4823117286969,
 254.02908505068706,
 281.8877684566706,
 300.8573587975128,
 307.27305389280957,
 315.80383062426785,
 321.0650499056111,
 336.22504719693904,
 343.996724486543,
 353.0384632247141,
 365.6064669121485,
 371.1386466752412,
 381.89777712855266,
 380.1602790859591,
 382.5307744661923,
 391.5838878416608,
 390.90259101961334,
 399.85244988190095,
 398.24638231338594,
 403.4302328809429,
 404.0874257160168]

# Using MLP model 1

In [106]:
model_nn = Sequential()
model_nn.add(Dense(100, input_dim=window_size, activation='relu'))
model_nn.add(Dense(1))
model_nn.compile(optimizer='adam', loss='mse', metrics=['mse'])
model_nn.fit(X_train, y_train, epochs=30)

Epoch 1/30
16/16 [==============================] - 0s 1ms/step - loss: 2740.4121 - mse: 2875.3542
Epoch 2/30
16/16 [==============================] - 0s 1ms/step - loss: 442.7964 - mse: 456.7447
Epoch 3/30
16/16 [==============================] - 0s 1ms/step - loss: 72.4249 - mse: 72.1061
Epoch 4/30
16/16 [==============================] - 0s 1ms/step - loss: 22.6769 - mse: 23.4544
Epoch 5/30
16/16 [==============================] - 0s 1ms/step - loss: 16.3679 - mse: 17.1748
Epoch 6/30
16/16 [==============================] - 0s 1ms/step - loss: 18.0926 - mse: 16.0786
Epoch 7/30
16/16 [==============================] - 0s 1ms/step - loss: 15.1726 - mse: 15.8382
Epoch 8/30
16/16 [==============================] - 0s 1ms/step - loss: 14.9092 - mse: 15.4134
Epoch 9/30
16/16 [==============================] - 0s 1ms/step - loss: 14.6604 - mse: 15.3554
Epoch 10/30
16/16 [==============================] - 0s 1ms/step - loss: 14.9413 - mse: 15.3416
Epoch 11/30
16/16 [==============================] - 0s 1ms/step - loss: 14.7873 - mse: 15.2347
Epoch 12/30
16/16 [==============================] - 0s 1ms/step - loss: 14.2047 - mse: 14.9073
Epoch 13/30
16/16 [==============================] - 0s 1ms/step - loss: 14.4840 - mse: 14.8377
Epoch 14/30
16/16 [==============================] - 0s 1ms/step - loss: 14.4520 - mse: 14.3756
Epoch 15/30
16/16 [==============================] - 0s 2ms/step - loss: 17.6369 - mse: 14.7266
Epoch 16/30
16/16 [==============================] - 0s 1ms/step - loss: 14.6865 - mse: 14.4024
Epoch 17/30
16/16 [==============================] - 0s 2ms/step - loss: 13.8035 - mse: 14.4197
Epoch 18/30
16/16 [==============================] - 0s 1ms/step - loss: 13.1342 - mse: 13.6327
Epoch 19/30
16/16 [==============================] - 0s 1ms/step - loss: 16.3068 - mse: 13.9703
Epoch 20/30
16/16 [==============================] - 0s 1ms/step - loss: 13.9076 - mse: 14.1370
Epoch 21/30
16/16 [==============================] - 0s 1ms/step - loss: 13.3152 - mse: 13.5152
Epoch 22/30
16/16 [==============================] - 0s 1ms/step - loss: 13.2731 - mse: 13.5917
Epoch 23/30
16/16 [==============================] - 0s 1ms/step - loss: 12.7279 - mse: 13.2746
Epoch 24/30
16/16 [==============================] - 0s 1ms/step - loss: 12.3378 - mse: 12.9603
Epoch 25/30
16/16 [==============================] - 0s 1ms/step - loss: 13.0592 - mse: 12.5032
Epoch 26/30
16/16 [==============================] - 0s 1ms/step - loss: 12.8002 - mse: 12.7135
Epoch 27/30
16/16 [==============================] - 0s 1ms/step - loss: 11.2088 - mse: 11.6176
Epoch 28/30
16/16 [==============================] - 0s 1ms/step - loss: 11.3961 - mse: 11.9635
Epoch 29/30
16/16 [==============================] - 0s 1ms/step - loss: 12.1235 - mse: 11.5907
Epoch 30/30
16/16 [==============================] - 0s 1ms/step - loss: 12.7864 - mse: 11.6835

In [0]:
X_test = final['Kerala']
X_test = X_test['Confirmed'].to_numpy()
row = window_size
predictions = []
while(row < X_test.shape[0]):
  temp1 = np.array(X_test[row-window_size:row].tolist())
  # print(temp1)
  temp1 = temp1.astype('float32')
  test = temp1.reshape((1,-1))
  pred1 = model_nn.predict(test)
  predictions.append(pred1[0][0])
  # X1[i] = pred1[0]
  row = row + 1

In [112]:
predictions

[2.7123547,
 3.2500737,
 3.5649412,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 3.6182184,
 4.1328897,
 5.8653135,
 8.250456,
 11.890578,
 14.83215,
 17.123085,
 18.636133,
 19.665888,
 21.237577,
 22.934603,
 24.994047,
 26.615068,
 27.64523,
 29.609468,
 35.459515,
 44.41957,
 58.484035,
 76.87279,
 95.04567,
 111.77096,
 129.9433,
 152.11302,
 172.69978,
 194.18274,
 215.77324,
 234.66754,
 254.91426,
 273.6895,
 289.43137,
 302.16553,
 312.5402,
 323.1748,
 333.41824,
 343.56363,
 353.74268,
 363.1568,
 371.83994,
 377.85034,
 382.64035,
 387.4229,
 391.64526,
 396.25284,
 399.76013,
 403.1031]

# Using MLP model 2

In [117]:
model_nn1 = Sequential()
model_nn1.add(Dense(100, input_dim=window_size, activation='relu'))
model_nn1.add(Dense(100, activation='relu'))
model_nn1.add(Dense(1))
model_nn1.compile(optimizer='adam', loss='mse', metrics=['mse'])
model_nn1.fit(X_train, y_train, epochs=30)

Epoch 1/30
16/16 [==============================] - 0s 2ms/step - loss: 3860.4644 - mse: 4047.4390
Epoch 2/30
16/16 [==============================] - 0s 1ms/step - loss: 414.6854 - mse: 423.0383
Epoch 3/30
16/16 [==============================] - 0s 2ms/step - loss: 77.2607 - mse: 80.2101
Epoch 4/30
16/16 [==============================] - 0s 1ms/step - loss: 18.3155 - mse: 16.9876
Epoch 5/30
16/16 [==============================] - 0s 2ms/step - loss: 10.3424 - mse: 9.6834
Epoch 6/30
16/16 [==============================] - 0s 2ms/step - loss: 8.3606 - mse: 8.6023
Epoch 7/30
16/16 [==============================] - 0s 2ms/step - loss: 8.3940 - mse: 8.8201
Epoch 8/30
16/16 [==============================] - 0s 2ms/step - loss: 7.7893 - mse: 8.1874
Epoch 9/30
16/16 [==============================] - 0s 1ms/step - loss: 7.8231 - mse: 8.0752
Epoch 10/30
16/16 [==============================] - 0s 2ms/step - loss: 7.8867 - mse: 7.6715
Epoch 11/30
16/16 [==============================] - 0s 2ms/step - loss: 7.8360 - mse: 7.3488
Epoch 12/30
16/16 [==============================] - 0s 2ms/step - loss: 7.9127 - mse: 8.0610
Epoch 13/30
16/16 [==============================] - 0s 2ms/step - loss: 7.2063 - mse: 7.4324
Epoch 14/30
16/16 [==============================] - 0s 2ms/step - loss: 6.5245 - mse: 6.5335
Epoch 15/30
16/16 [==============================] - 0s 2ms/step - loss: 5.9918 - mse: 6.1279
Epoch 16/30
16/16 [==============================] - 0s 2ms/step - loss: 5.8819 - mse: 6.1571
Epoch 17/30
16/16 [==============================] - 0s 2ms/step - loss: 5.6143 - mse: 5.5154
Epoch 18/30
16/16 [==============================] - 0s 2ms/step - loss: 5.0385 - mse: 5.2670
Epoch 19/30
16/16 [==============================] - 0s 2ms/step - loss: 5.2356 - mse: 5.3937
Epoch 20/30
16/16 [==============================] - 0s 2ms/step - loss: 5.0494 - mse: 5.1426
Epoch 21/30
16/16 [==============================] - 0s 2ms/step - loss: 5.3315 - mse: 5.5329
Epoch 22/30
16/16 [==============================] - 0s 2ms/step - loss: 4.2118 - mse: 4.3992
Epoch 23/30
16/16 [==============================] - 0s 1ms/step - loss: 5.0138 - mse: 4.8002
Epoch 24/30
16/16 [==============================] - 0s 2ms/step - loss: 4.7707 - mse: 4.8287
Epoch 25/30
16/16 [==============================] - 0s 2ms/step - loss: 3.8798 - mse: 4.0295
Epoch 26/30
16/16 [==============================] - 0s 2ms/step - loss: 4.8174 - mse: 4.2419
Epoch 27/30
16/16 [==============================] - 0s 2ms/step - loss: 3.6480 - mse: 3.6644
Epoch 28/30
16/16 [==============================] - 0s 2ms/step - loss: 3.6162 - mse: 3.6972
Epoch 29/30
16/16 [==============================] - 0s 1ms/step - loss: 3.3903 - mse: 3.3677
Epoch 30/30
16/16 [==============================] - 0s 2ms/step - loss: 2.8789 - mse: 3.0104

In [0]:
X_test = final['Kerala']
X_test = X_test['Confirmed'].to_numpy()
row = window_size
predictions1 = []
while(row < X_test.shape[0]):
  temp1 = np.array(X_test[row-window_size:row].tolist())
  # print(temp1)
  temp1 = temp1.astype('float32')
  test = temp1.reshape((1,-1))
  pred1 = model_nn1.predict(test)
  predictions1.append(pred1[0][0])
  # X1[i] = pred1[0]
  row = row + 1

In [122]:
predictions1[len(predictions1)-1]

402.9964

In [123]:
predictions1

[3.5570188,
 3.6649191,
 3.5737064,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 3.6445608,
 8.184021,
 8.713514,
 14.824744,
 16.070797,
 17.919601,
 19.176346,
 19.285194,
 22.46408,
 23.018059,
 26.433266,
 27.048296,
 27.786854,
 28.473461,
 39.194633,
 49.9014,
 65.22783,
 90.17961,
 104.43105,
 117.47262,
 133.48529,
 169.40186,
 178.25081,
 201.75569,
 225.94836,
 238.45567,
 263.60126,
 279.72498,
 294.14798,
 305.11502,
 312.4818,
 326.2726,
 334.77844,
 345.0201,
 355.93842,
 363.54718,
 374.11783,
 376.20468,
 380.81265,
 387.0888,
 389.0511,
 396.56122,
 396.62213,
 402.06793,
 402.9964]

# Predictions by not adding extra data using Linear Regression model

In [0]:
# X1 = X
# X1 = np.array(X['data'])
row = window_size
predictions = []
while(row < X_test.shape[0]):
  temp1 = np.array(X_test[row-window_size:row].tolist())
  # print(temp1)
  temp1 = temp1.astype('float32')
  test = temp1.reshape((1,-1))
  pred1 = model_reg.predict(test)
  predictions.append(pred1[0])
  # X1[i] = pred1[0]
  row = row + 1

In [0]:
predictions

[383.2507136490421,
 383.3371941437929,
 383.30804814384146,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 383.19552453885353,
 392.5366367533668,
 390.1879490864706,
 400.56941617049785,
 399.6655598394415,
 397.51817271390416,
 401.6485654043693,
 399.4534149405953,
 404.8392408387558,
 404.3440724258523,
 408.8896191917672,
 408.4809312736145,
 407.3926647108701,
 409.4015992536087,
 430.7226933365535,
 442.9113576725944,
 460.93472233422415,
 501.51946273812314,
 503.75667167018355,
 508.7505870765618,
 537.3465346162778,
 592.2275030105233,
 569.7789616915763,
 602.7755931675283,
 646.823466341158,
 629.0867015687384,
 669.1120689863419,
 688.5429032496738,
 684.7032400034259,
 698.9418066476774,
 703.6886731428264,
 719.6500432523214,
 725.4293432811929,
 734.1225058213888,
 749.1623829715825,
 751.4348733962975,
 763.988344348614,
 759.3005080583683,
 762.4828002156996,
 774.9507502879198,
 769.1227443844809,
 781.4068281856871,
 777.7039293899145,
 783.5383461326978,
 784.3754854506462]

# Training using world data

In [0]:
world_data = pd.read_csv('/content/drive/My Drive/Software_Engineering_Project/worldwide-covid-data.csv')
world_data

      iso_code  location  ... new_tests_per_thousand  tests_units
0          ABW     Aruba  ...                    NaN          NaN
1          ABW     Aruba  ...                    NaN          NaN
2          ABW     Aruba  ...                    NaN          NaN
3          ABW     Aruba  ...                    NaN          NaN
4          ABW     Aruba  ...                    NaN          NaN
...        ...       ...  ...                    ...          ...
12446      ZWE  Zimbabwe  ...                    NaN          NaN
12447      ZWE  Zimbabwe  ...                    NaN          NaN
12448      ZWE  Zimbabwe  ...                    NaN          NaN
12449      ZWE  Zimbabwe  ...                    NaN          NaN
12450      ZWE  Zimbabwe  ...                    NaN          NaN

[12451 rows x 16 columns]

In [0]:
US_d = world_data[world_data['iso_code']=='USA']
us_data = pd.DataFrame()
us_data['Date'] = US_d['date']
us_data['Confirmed'] = US_d['total_cases']
us_data

             Date  Confirmed
11884  2019-12-31          0
11885  2020-01-01          0
11886  2020-01-02          0
11887  2020-01-03          0
11888  2020-01-04          0
...           ...        ...
11993  2020-04-18     702164
11994  2020-04-19     735086
11995  2020-04-20     759687
11996  2020-04-21     787752
11997  2020-04-22     825041

[114 rows x 2 columns]

In [0]:
X = us_data['Confirmed'].to_numpy()
print(X.shape)
X = np.trim_zeros(X)
print(X.shape)
# X

In [0]:
window_size = 83
X2 = np.array([0] * (window_size + 1))

row = 0
while(row < (X.shape[0] - window_size)):
  # row = random.randrange(len(X) - window_size - 1)
  temp = X[row:row+window_size+1].tolist()
  temp = [float(item) for item in temp]
  X2 = np.vstack((X2,temp)) 
  row = row + 1

X2 = X2[1:,:]
# print(X2)
print(X2.shape)

(10, 84)

In [0]:
X_train = X2[:,0:window_size]
y_train = X2[:,window_size]
# print(X_train)
# print(y_train)

In [0]:
model_reg = LinearRegression()
model_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
X_test = final['Kerala']
X_test = X_test['Confirmed'].to_numpy()
print(X_test)
print(X_test.shape)
X_test = X_test.reshape((1,-1))
print(X_test.shape)

[  1   1   2   3   3   3   3   3   3   3   3   3   3   3   3   3   3   3
   3   3   3   3   3   3   3   3   3   3   3   3   3   3   3   3   3   3
   3   3   8   9  15  17  17  19  19  22  23  26  27  27  28  40  52  67
  95 109 118 137 176 182 202 234 241 265 286 295 306 314 327 336 345 357
 364 374 376 379 387 388 395 396 400 402 408]
(83,)
(1, 83)

In [0]:
prediction = model_reg.predict(X_test)
prediction

array([310743.30222823])